<footer class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 small">
                <span class="copyright text-muted">
                    Copyright &copy; {{ site.time | date: '%Y' }} Rexel, Rexel USA. All Rights Reserved
                </span>
                <span class="pull-right">
                    <img src="{{ "/img/rexel_logo.png" | prepend: site.baseurl }}" alt="Rexel Logo" height="50">
                </span>
            </div>
        </div>
    </div>
</footer>
{% include js.html %}